Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
auth.csv

# Graal native output
TerrariaControlPanel

# Flutter compiled files
src/main/resources/public/**
!src/main/resources/public/login.html
